<svg style="width: 100%; height: 250px;">
    <g>
        <g transform="scale(1.5)">
            <g transform="translate(210,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(235,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(260,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(285,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(310,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(335,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(360,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(385,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(0,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(25,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(50,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(75,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(100,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(125,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(150,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(175,0)">
                <polygon points="0,0 20,0 15,5 5,5" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(210,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(235,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(260,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(285,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(310,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(335,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(360,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(385,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(0,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(25,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(50,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(75,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(100,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(125,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(150,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(175,40)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(210,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(235,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(260,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(285,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(310,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(75,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(100,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(125,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(150,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(175,80)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(210,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(235,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(260,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(285,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(310,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
        <g transform="scale(1.5)">
            <g transform="translate(75,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(100,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(125,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(150,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="#fff" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
            <g transform="translate(175,120)">
                <polygon points="0,0 20,0 15,5 5,5" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,15 15,15 20,20 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="15,5 20,0 20,20 15,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="0,0 5,5 5,15 0,20" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
                <polygon points="5,5 15,5 15,15 5,15" fill="white" stroke="navy" stroke-width="0.5" opacity="1"></polygon>
            </g>
        </g>
    </g>
</svg>